
    <script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $(document).scroll(function(){
                var $nav=$("#mainNavbar");
                $nav.toggleClass("scrolled", $(this).scrollTop()> $nav.height());
            })
        })
    </script>
    </body>
</html>