<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/app.css">
    </head>
    <body>
        <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-lg fixed-top shadow mb-5">
            <a class="navbar-brand display-inline d-flex align-items-center flex-wrap w-30 mr-auto" href="/"><i class="fas fa-globe-europe fa-lg mr-2"></i>YelpCamp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#collapsingNavbar" aria-controls="navbarToggler" 
            aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="collapsingNavbar">
                <ul class="navbar-nav ml-auto">
                    <form class="form-inline my-2" action="/campgrounds" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" name="search" placeholder="Campground search...">
                            <div class="input-group-append">
                              <button class="btn btn-search btn-sm mr-3" type="submit">
                                <i class="fa fa-search"></i>
                              </button>
                            </div>
                        </div>
                    </form>
                    <li class="nav-item"><a class="nav-link" href="/campgrounds">Campgrounds</a></li>
                    <% if(!currentUser){ %>
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
                    <% } else { %>
                        <li class="nav-item"><a class="nav-link" href="/users/<%= currentUser.id %>">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    <% } %>
                </ul>
            </div>
        </nav>
        <% if(currentUser){ %>
        <!--<span class="mr-auto">Signed In As <%= currentUser.username %></span>-->
        <% } %>
        <div class="container container-alert">
            <% if(error && error.length>0){ %>
                <div class="alert alert-danger" role="alert"><%= error %></div>
            <% } %>
            <% if(success && success.length>0){ %>
                <div class="alert alert-success" role="alert"><%= success %></div>
            <% } %>
        </div>
        