<% include ../partials/header %>
<div class="container">
    <h1 style="text-align: center">Edit comment</h1>
    <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
        <div class="col-5 mx-auto">
            <input type="text" class="form-control my-2" name="comment[text]" value="<%= comment.text %>">
            <div class="d-flex justify-content-center">
                <input type="submit" class="btn btn-outline mx-2" value="Submit"></input>
                <a href="/campgrounds" class="btn btn-outline mx-2">Go back</a>
            </div>
        </div>
    </form>
</div>
<% include ../partials/footer %>