<% include ../partials/header %>
<div class="container">
    <h1 class="text-center mb-2">Add a New comment to <%=campground.name %></h1>
    <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
        <div class="col-5 mx-auto">
            <input type="text" class="form-control my-2" name="comment[text]" placeholder="Text">
            <div class="d-flex justify-content-center">
                <input type="submit" class="btn btn-outline mx-2" value="Submit"></input>
                <a href="/campgrounds" class="btn btn-outline mx-2">Go back</a>
            </div>
        </div>
    </form>
</div>
<% include ../partials/footer %>