<% include ./partials/header %>

<div class="container my-4 mx-auto">
    <h1 class="text-center my-3">Login</h1>
    <form action="/login" method="POST">
        <div class="col-5 mx-auto">
            <input type="email" class="form-control my-2" aria-describedby="emailHelp" name="email" placeholder="Email">
            <input type="password" class="form-control my-2" name="password" placeholder="Password">
            <div class="d-flex justify-content-center"><input type="submit" class="btn btn-outline-primary" value="Submit"></input></div>
        </div>
    </form>
</div>

<% include ./partials/footer %>