<% include ../partials/header %>

<div class="container my-4 mx-auto">
    <h1 class="text-center my-3">Create a New campground</h1>
    <form action="/campgrounds" method="POST">
        <div class="col-5 mx-auto">
            <input type="text" class="form-control my-2" name="name" placeholder="Title">
            <input type="text" class="form-control my-2" name="image" placeholder="Image url">
            <input type="text" class="form-control my-2" name="description" placeholder="Description">
            <div class="d-flex justify-content-center">
                <input type="submit" class="btn btn-outline-primary mx-2" value="Submit"></input>
                <a href="/campgrounds" class="btn btn-outline-primary mx-2">Go back</a>
            </div>
        </div>
    </form>
</div>

<% include ../partials/footer %>