.body{
    background-color: #EFFFF8;
}

#campground {
    display: flex; 
    flex-wrap: wrap;
}

.navbar{
    background-color: #F5F5F7;
}

.navbar.scrolled{
    background-color: #2060F3;
    transition: background 500ms;
}

.jumbotron{
    margin-top: 80px;
    margin-bottom: 20px;
}

.card-footer{
    background: none;
    border-top: hidden;
}
.image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}
.image-sm{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
}

.image-show{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.user {
    font-size: 8em; 
    color: #596169;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: #F7F7F9;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.fa-user:before {
    height: 200px;
    content: "\f007";
    line-height: 200px;
}

.jumbotron{
    background-color: #F7F7F9;
}
.thumbnail img {
    width: 100%;
}
.thumbnail {
    padding: 0;
}
.thumbnail .caption-full {
    padding: 9px;
}
.deleteForm {
    display: inline;
}
.checked {
    color: orange;
}

.form-control:focus{
    border-color: #596169;  
    box-shadow: none; 
    -webkit-box-shadow: none;
    
} 
.has-error .form-control:focus{
    box-shadow: none; 
    -webkit-box-shadow: none;
}

